* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #adbbda;
}

#main {
  width: 80vw;
  margin: auto;
  padding: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

textarea {
  height: 80%;
  width: 95%;
  margin: 0 10px auto;
}

.container-class {
  margin-bottom: 10px;
  background-color: #ede8f5;
  border: 2px solid grey;
  margin: 10px auto;
  min-height: 500px;
  border-radius: 5%;
}

.convert-button-container {
  text-align: center;
  margin: auto;
  min-width: fit-content;
}

.convert-button {
  font-size: 1.5rem;
  color: #3d52a0;
  border-radius: 10%;
  background-color: #8697c4;
  min-width: fit-content;
}

.convert-button:hover {
  background-color: #ede8f5;
  box-shadow: 5px 5px 5px grey;
}

#preview img {
  display: block;
  max-width: 90%;
}

textarea {
  resize: none;
  border: none;
  background-color: #ede8f5;
}

.rubik-title {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.rubik-header {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rubik-button {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
